doctype html
html(lang='en')
    include mixins

    head
        title #{bot.name} Internals

        meta( charset='utf-8' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content=bot.name + ' Internals' )

        +favicon()
        +bootstrap_css()
        link( href='/css/ponkbot.css', rel='stylesheet' )

        +jquery()
        +bootstrap_js()
        +socketio(serverIO)

    body
        #mainwrap(style='padding: 60px 15px 0;')
            +pagenav('/internals')

            section
                .container-fluid
                    .row
                        #mainpage.col-sm-12
                            h3 #{bot.name} Internals

                    .row: br

                    .row
                        ul#infonav.nav.nav-tabs
                            li.active: a( href='#coredata', data-toggle='tab' ) Core Data
                            li:        a( href='#userlist', data-toggle='tab' ) Userlist
                            li:        a( href='#playlist', data-toggle='tab' ) Playlist
                            
                    .row
                        #infotabs.tab-content
                            #coredata.tab-pane.fade.active.in
                                #coredata_content
                            #userlist.tab-pane.fade
                                #userlist_content
                            #playlist.tab-pane.fade
                                #playlist_content

        script( type='text/javascript', src='/js/internals.js' )
